@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 211 100% 8%;
    --foreground: 202 20% 92%;
    --muted: 212 100% 20%;
    --muted-foreground: 215.9 25% 40%;
    --popover: 216.39 100% 11.96%;
    --popover-foreground: 0 0% 100%;
    --card: 212 100% 14%;
    --card-foreground: 0 0% 100%;
    --border: 216.59 100% 9.04%;
    --input: 211 100% 12%;
    --primary: 51 100% 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 212 100% 36%;
    --secondary-foreground: 212 100% 98%;
    --accent: 174 53% 68%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 95% 60%;
    --destructive-foreground: 0 100% 92%;
    --ring: 51 100% 50%;
    --radius: 0.75rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
